<template>
    <div class="header-bg">
        <div v-if="photos.length" id="carouselExampleIndicators" class="carousel slide lunbo" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" v-for="item in photos" :data-slide-to="index+1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" :src="imgUrl" style="height:500px;width:800px;" alt="First slide">
                </div>
                <div class="carousel-item" v-for="item in photos ">
                    <img class="d-block w-100" :src="item" style="height:500px;width:800px;" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <img v-else :src="imgUrl" >
    </div>
</template>
<script>
    export default{
        props:{
            adverId:''
        },
        data(){
            return{
                 photos:[],
                 imgUrl:this.Global.imgBack
            }
            
        },
        created(){
            this.getAdver();
        },
        methods:{
            getAdver(){
                this.http.get("api/v2/ad?position="+this.adverId).then(res=>{
                        console.log(res.data.data);
                        let advertisementMessage = res.data.data;
                    // console.log(advertisementMessage,666666)
                        this.imgUrl=this.Global.imgUrl+advertisementMessage[0].image;
                        if(advertisementMessage.length>1){
                            for(let i=1;i<advertisementMessage.length;i++){
                                let photoUrl = this.Global.imgUrl+advertisementMessage[i].image;
                                this.photos.push(photoUrl);
                            }
                        }
                        
                    })
            }
        }
    }

</script>
<style>
     .header-bg{
        border-radius:15px;
        -moz-border-radius:15px; 
        height:500px;
        width:100%;
    }
    .header-bg img{
        height:100%;
        width:100%;
    }
</style>