<template>
    <div>
        <div class="country-infor" v-for="item in messageList">
            <diV class="country-img">
                <div class ="country-bf" v-if="item.tpe == 4"  @click="getDetail(item)">
                    <img src="../../../dist/bf.png" @click="getDetail(item)">
                </div>
                <img  :src="item.img" @click="getDetail(item)" >
            </div>
            <strong @click="getDetail(item)">
            {{item.title}}
            </strong>
            <p @click="getDetail(item)">
            {{item.brief}}
            </p>
        </div>
    </div>   
    
</template>
<script>
   export default {
      props: {
            visible: {
                default() {
                    return{
                    }
                }
            }
      },
      data(){
            return {
               messageList:[],
            }         
        },
      watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                //console.log(11111,val)
                this.getInforList(val.childId)
            } 
         }
      },
      methods:{
         getInforList(cid){
           // console.log(cid,666666666666666666)
            this.http.get("api/v2/article/articleList?device=pc&cid="+cid+'&device=pc&pagesize=15').then(res=>{
                let message = res.data.data.items;
                //console.log(message,555555)
                for(let key in message){
                    if(message[key].tpe == 1 ||message[key].tpe == 2 || message[key].tpe == 3|| message[key].tpe == 4){   
                        if(message[key].tpe== 1){
                            message[key].img = this.Global.imgMr;
                        }
                        if(message[key].tpe==3){
                            message[key].img = message[key].photos[0]?this.Global.imgUrl+message[key].photos[0]:this.Global.imgMr;
                        }
                        if(message[key].tpe == 2 || message[key].tpe == 4){
                            message[key].img= message[key].img?this.Global.imgUrl+message[key].img:this.Global.imgMr;
                        }
                        if(this.messageList.length>=4){
                            break;
                        }
                        this.messageList.push(message[key])
                    }
                }
                //console.log(this.messageList,111111)
                
               
            })
         },
         getDetail(item){
             this.$router.push({name:'scienDetaillLink',params:{'id':item.id,'dataType':'article','type':item.tpe}}) 
         }
      }

  
}
</script>
<style>
   .country-infor{
       float:left;
       width:23%;
       margin:0 1% 0 1%;
   }
   .country-img{
        height:150px;
        width:100%;
        cursor:pointer;
        position:relative;
    }
    .country-img>img{
         display:block;
         cursor:pointer;
         width:100%;
         height:100%;
         position:absolute;
         z-index:2;
     }
    .country-img .country-bf{
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.1);
        position:absolute;
        display:none;
        z-index:5;
        cursor:pointer;
     }
     .country-bf img{
        width:50px;
        height:50px;
        margin-left:50%;
        margin-top:20%;
        display:none;
        transform: translate(-50%);
     }
     .country-img:hover .country-bf, .country-img:hover .country-bf img{
         display:block;
     }
   .country-infor strong{
       cursor:pointer;
        display:block;
        font-weight:normal;
        color:#333;
        font-size:22px;
        margin:10px 0 10px 0;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;    
   }
   .country-infor p{
       cursor:pointer;
        height:70px;
        color:#333;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
   }

  
</style>