<template>
    <div class="credit-list">
        <div  class="credit-left">
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
            <p><img> 暂无</p>
        </div>
        <div class="credit-right">
            <div>
                <span><img>1515151515</span>
                <p>1515151</p>
                <p>51515</p>
                <p>1515151</p>
            </div>
        </div>
    </div>
</template>
<script>
</script>
<style>

.credit-list{
    overflow:hidden;
}
.credit-list>div{
    float:left;
    width:50%;
    line-height:10px;
}
.credit-right div{
    overflow:hidden;
}
.credit-right span{
    display:block;
    height:30px;
}
</style>