<template>
   <div class="daynamic-list">
        <div v-for="item in message"><i></i><span class="daynamic-content" @click="goDetail(item)">{{item.title}}</span><span class="daynamic-time">{{item.add_time}}</span> </div>
   </div>
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
           message:[]
        }         
    },
    watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                this.linkName = this.$route.name;
                this.getInforList(val.childId)
            } 
         }
      },
    methods:{
            getInforList(cid){
               // console.log(cid,666666666666666666)
                this.http.get("api/v2/article/noticeList?device=pc&cid="+cid+'&device=pc&pagesize=8').then(res=>{
               //  console.log(res)
                this.message = res.data.data.items;
               // console.log(this.message,1231213)
                })
            },
            goDetail(item){
                console.log(item,1111111111111)
                if(this.linkName == 'preachingLink'){
                    this.$router.push({name:'preachDetailLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                }else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educahDetailLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturDetaillLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienDetaillLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitDetaillLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                } else{
                    this.$router.push({name:'voluntDetaillLink',params:{'id':item.id,'dataType':'notice','type':item.tpe}}) 
                }
            }
            
      }
}
</script>
<style>
.daynamic-list div{
    height:30px;
    width:100%;
    margin-bottom:5px;
    overflow:hidden;
}
.daynamic-list  i{
    height:5px;
    width:5px;
    background-color:black;
    float:left;
    margin: 12px 15px 0 0;
}
.daynamic-content{
    display:block;
    cursor:pointer;
    width:80%;  
    color:#333;
    float:left;
    font-size:20px;
    font-family:MicrosoftYaHeiUI;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.daynamic-time{
    width:101px;
    float:right;
    text-align:right;
    font-family:MicrosoftYaHeiUI;
    font-size:18px;
    color:#333;
}
</style>