<template>
    <div class="sort-list">
        <div v-for="(item,index) in messageList" class="sort-div"><i>{{index+1}}</i><p>{{item.title?item.title:item.name}}</p><span>{{item.tickets?item.tickets+'票':item.scores+'分'}}</span> </div>
   </div>
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
           messageList:[]
        }         
    },
    watch: {
         visible (val, oldVal) {
            if(val != oldVal){
             //console.log(val,11212122);
              this.getInforList(val);
            } 
         }
      },
    methods:{
            getInforList(item){
                //console.log(item,666666666666666666)
                if(item.dataType == "vote"){
                    this.http.get("api/v2/activity/vote?id="+item.childId).then(res=>{
                        //console.log(res.data.data.options,99999)
                        this.messageList = res.data.data.options;
                    })
                }else if(item.dataType == 'bank'){
                    this.http.get("api/v2/family/familyList?pagesize=10").then(res=>{
                        this.messageList = res.data.data.items;
                    })
                }
            }
            
      }
}
</script>
<style>
.sort-div{
    overflow:hidden;
    height:30px;
    width:100%;
}
.sort-list  i{
    font-style:normal;
    float:left;
    display:block;
    height:20px;
    width:20px;
    background-color:#cccccc;
    text-align:center;
    line-height:20px;
    font-weight:bold;
    color:#ffffff;
}
.sort-div  p{
    float:left;
    margin-left:20px;
    
}
.sort-div span{
    display:block;
    float:right;
}
.sort-list div:nth-child(-n+3) i{
    background-color:red;
}
</style>