<template>
   <div class="exposure-table">
        <img class="exposure-img" :src="message.img" @click="goDetail()">
        <p @click="goDetail()">{{message.title}}</p>
   </div>
</template>
<script>
    export default{
        props: {
            visible: {
                default() {
                    return{
                    }
                }
            }
        },
        data(){
            return {
                message:{}
            }
        },
        watch: {
            visible (val, oldVal) {
                if(val != oldVal){
                    this.linkName = this.$route.name;
                    console.log(val,this.linkName,666666666)
                    this.getMessage();
                } 
            }
        },
        methods:{
            getMessage(){
               // console.log(cid,666666666666666666)
                this.http.get("api/v2/Cases/caseList?pagesize=1").then(res=>{
                    console.log(res.data.data.items,666666666)
                    this.message = res.data.data.items[0];
                    this.message.img = this.message.img?this.Global.imgUrl+this.message.img:this.Global.imgMr;
                    
                })
            },
            goDetail(){
                  this.$router.push({name:'preachDetailLink',params:{'id':this.message.id,'dataType':'case','type':this.message.tpe}}) 
            }
        }
    }
</script>
<style>
.exposure-table .exposure-img{
    width:80%;
    margin-top:20px;
    margin-left:10%;
    height:150px;
    cursor:pointer;
}
.exposure-table p{
    font-size:20px;
    text-align:center;
    margin-top:20px;
    height:40px;
    line-height:55px;
    overflow:hidden;
    cursor:pointer;
}
</style>