<template>
    <div class="graph-infor" >
         <diV class="graph-img">
            <div class ="graph-bf" v-if="messageNu.tpe ==4 "  @click="goDetail()">
                <img src="../../../dist/bf.png" @click="goDetail()">
            </div>
            <img  :src="messageNu.img" @click="goDetail()" >
        </div>
        <p @click="goDetail()">
            {{messageNu.title}}
        </p>
    </div >
</template>
<script>
   export default {
      props: {
            visible: {
                default() {
                    return{
                    }
                }
            }
      },
      data(){
            return {
               messageNu:{
                   img:this.Global.imgMr
               },
               link:'',
               linkName:''
            }         
        },
      watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                this.linkName = this.$route.name;
                this.getInforList(val);
                console.log(val,666666666666666666);
            } 
         }
      },
      methods:{
         getInforList(item){
            // console.log(cid,666666666666666666)
            this.link = item.childLink;
            if(this.link == "voluntTeamLink"){
                this.http.get('api/v2/volunteer/volunteerGroupList?pagesize=1').then(res=>{
                    console.log(res.data.data.items[0],55555555555555555)
                    this.messageNu = res.data.data.items[0];
                    this.messageNu.img =  this.messageNu.logo?this.Global.imgUrl+this.messageNu.logo:this.Global.imgMr;
                })
            } else {
                this.http.get("api/v2/article/articleList?device=pc&cid="+item.childId+'&device=pc&pagesize=10').then(res=>{
                    let message = res.data.data.items;
                    //console.log(message,555555)
                    for(let key in message){
                        if(message[key].tpe == 1 || message[key].tpe == 2 || message[key].tpe == 3||message[key].tpe == 4){   
                            this.messageNu = message[key];
                            this.messageNu.img =  this.messageNu.tpe == 3?this.Global.imgUrl+this.messageNu.photos[0]: this.messageNu.tpe == 2|| this.messageNu.tpe == 4?this.Global.imgUrl+this.messageNu.img:this.Global.imgMr;
                            break;
                        }
                    }
                // console.log(this.messageNu,111111)
                })
            }
            
         },
         goDetail(){
            if(this.linkName == 'fitnessLink'&&this.messageNu.id){
                    this.$router.push({name:'fitDetaillLink',params:{'id':this.messageNu.id,'dataType':'article','type':this.messageNu.tpe}}) 
                }else if(this.linkName == 'educationalLink'&&this.messageNu.id){
                    this.$router.push({name:'educahDetailLink',params:{'id':this.messageNu.id,'dataType':'article','type':this.messageNu.tpe}}) 
                }else if(this.link == "voluntGlimpseLink"&&this.messageNu.id){
                    this.$router.push({name:'voluntDetaillLink',params:{'id':this.messageNu.id,'dataType':'article','type':this.messageNu.tpe}})
                } 
         }
      }

  
}
</script>
<style>
    .graph-infor{
        -moz-box-shadow: 1px 1px 3px #888888; /* 老的 Firefox */
        box-shadow: 1px 1px 3px #888888;
        width:90%;
        margin:0 0 20px 5%;
    }
    .graph-img{
        display:block;
        margin:20px 0 0px 50%;
        width:100%;
        height:180px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        cursor:pointer;
        position:relative;
    }
    .graph-img>img{
        display:block;
        cursor:pointer;
        width:100%;
        height:100%;
        position:absolute;
        z-index:2;
     }
     .graph-img .graph-bf{
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.1);
        position:absolute;
        display:none;
        z-index:5;
        cursor:pointer;
     }
     .graph-bf img{
        width:50px;
        height:50px;
        margin-left:50%;
        margin-top:20%;
        display:none;
        transform: translate(-50%);
     }
       .graph-img:hover .graph-bf, .graph-img:hover .graph-bf img{
         display:block;
     }
    .graph-infor p{
        cursor:pointer;
        width:100%;
        overflow:hidden;
        text-indent:20px;
        line-height:50px;
        font-size:16px;
        height:50px;
    }
</style>