<template>
   <div class="header-message">
      <div class="header-left">
         <information-header  v-for="item in messageLeft" :visible="item"></information-header>
      </div>
      <div class="header-right">
         <list-header v-for="item in messageRight" :visible="item"></list-header>
      </div>
    
   </div>
</template>
<script>
   import  informationHeader from './informationHeader';
   import  listHeader from './listHeader';

   export default {
      props: {
            visible: {
                default() {
                    return{
                    }
                }
            }
      },
      data(){
            return {
               messageLeft:[],
               messageRight:[]
            }         
        },
      components:{informationHeader,listHeader},
      watch: {
         visible (val, oldVal) {
            if(val != oldVal){
              this.getInforList(val)
            } 
         }
      },
      methods:{
         getInforList(val){
            if(val.childLink == "voluntInforLink"){
               this.http.get("api/v2/activity/activityList?tpe=0&is_team=1&category="+val.childId+"&pagesize=11").then(res=>{
                  //console.log(res.data.data)
                  let message = res.data.data.items;
                  //console.log(message)
                  if(message.length>0){
                        this.messageLeft = message.slice(0,3);    
                        //console.log(this.messageLeft,11121); 
                        this.messageRight = message.slice(3,11)
                     // console.log(this.messageRight,11121); 
                  } 
                 })
            }else{
               // console.log(val.childId,666666666666666666)
               this.http.get("api/v2/article/articleList?device=pc&cid="+val.childId+'&device=pc&pagesize=11').then(res=>{
                  let message = res.data.data.items;
                  if(message.length>0){
                        this.messageLeft = message.slice(0,3);    
                        //console.log(this.messageLeft,11121); 
                        this.messageRight = message.slice(3,11)
                     // console.log(this.messageRight,11121); 
                  }    
                  
               })
            }
           
         }
      }

  
}
</script>
<style>
.header-message{
   overflow:hidden;
   margin-bottom:-12px;
}
.header-left{
   width:70%;
   float:left;
}
</style>