<template>
    <div>
        <div class="header-infor">
            <img class="header-img" :src="imgUrl" @click="goDetail()" >
            <strong @click="goDetail()">
            {{this.visible.title}}
            </strong>
            <p  @click="goDetail()">
            {{this.visible.brief}}
            </p>
        </div>
    </div>   
    
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
            userMessage:{},
            linkName:''
        }         
    },
    created(){
        this.linkName = this.$route.name;
        if(this.visible.img){
            this.imgUrl = this.Global.imgUrl+this.visible.img;
        } else if(this.visible.images){
            this.imgUrl = this.Global.imgUrl+this.visible.images;
        } else {
            this.imgUrl = this.Global.imgMr 
        }
        
        // this.userMessage =this.visible;
        // console.log(this.userMessage,999999)
    },
    methods:{
        goDetail(){
             if(this.linkName =='preachingLink'){
                    this.$router.push({name:'preachDetailLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educahDetailLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else{
                    this.$router.push({name:'voluntActiveLink',params:{id:this.visible.id}});
                }
        }
    }
}
</script>
<style>
    .header-img{
        width:234px;
        height:153px;
        cursor:pointer;
    }
   .header-infor{
       float:left;
       width:32%;
       margin-right:1%;
   }
   .header-infor strong{
       cursor:pointer;
       display:block;
       margin-top:3px;
       color:#1462ac;
       height:63px;
       font-size:20px;
       font-family:MicrosoftYaHeiUI;
       font-weight:normal;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        letter-spacing:1px;
        margin-bottom:8px;
   }
   .header-infor p{
        cursor:pointer;
        font-family:MicrosoftYaHeiUI;
        font-size:17px;
        height:76px;
        color:#666;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
   }
   .header-infor p:hover{
       color:#333;
   }

  
</style>