<template>
    <div class="lit">
        <span class="list-name">{{visible.name}}</span><span class="list-more" @click="goMore" v-if="visible.navId&&visible.dataType!='vote'&&visible.dataType!='bank'&&visible.dataType!='volunteer'&&visible.childLink!='voluntOrderLink'">更多</span>
        <div class="line">
            <div class="line-red"></div>
            <div class="line-blue"></div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            visible: {
                default() {
                    return{
                        link:'',
                        name:'',
                        dataType:'',
                        navId:'',
                        childId:'',
                        childLink:''
                    }
                }
            }
        },
        methods:{
            goMore(){
                  //  console.log(this.visible.childId,this.visible.navId,66666666666)
                    this.$router.push({name:this.visible.childLink,params:{'id':this.visible.childId,'dataType':this.visible.dataType}}) 
                    //this.$router.push({name: this.visible.link,params:{'id':this.visible.navId,'linkName':this.visible.childLink,'childId':this.visible.childId,'dataType':this.visible.dataType}})
                }
        }

  
}
</script>
<style>
    .lit{
        overflow:hidden;
        height:50px;
        margin-top:20px;
        margin-bottom:10px;
    }
    .list-name
    {
        font-size:28px;
        font-family:#000000;
        font-family:MicrosoftYaHeiUI;
    }
    .list-more{
        float:right;
        line-height:50px;
        cursor:pointer;
        font-size:22px;
        color:#666;
    }
     .list-more:hover{
        color:#333;
    }
    .line{
        position:relative;
    }
    .line-blue{
        width:100%;
        height:2px;
        background-color:#1462ac;
        float:right;
        z-index:9;
        position:absolute;
        margin-top:3px;
    }
    .line-red{
        width:114px;
        height:5px;
        background-color:red;
        float:left;
        z-index:10;
        position:absolute;
    }
</style>