<template>
   <div class="header-list">
        <p><img src="../../assets/tip1.png"style="margin-right:5px;"><span @click="goDetail()">{{visible.add_time?visible.add_time:visible.format_start_time}},{{visible.title}}</span></p>
   </div>
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
            userMessage:{},
            linkName:''
        }         
    },
    created(){
        this.linkName = this.$route.name;
    },
    methods:{
        goDetail(){
             if(this.linkName == 'preachingLink'){
                    this.$router.push({name:'preachDetailLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educahDetailLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitDetaillLink',params:{'id':this.visible.id,'dataType':'article','type':this.visible.tpe}}) 
                }else{
                    this.$router.push({name:'voluntActiveLink',params:{id:this.visible.id}});
                }
        }
    }
}
</script>
<style>
.header-list p{
    font-family:MicrosoftYaHeiUI;
    font-size:18px;
    color:#333;
    line-height:24px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor:pointer;
}
</style>