<template>
    <div>
        <div class="order-edu" v-for="item in messageList">
            <img class="order-img" :src="item.images"  @click="goDetail(item)">
            <strong @click="goDetail(item)">
            {{item.title}}
            </strong>
            <p @click="goDetail(item)"> 
            {{item.brief?item.brief:item.content}}
            </p>
            <span @click="goDetail(item)">预约</span>
        </div>
    </div>   
    
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                    linkName:''
                }
            }
        }
    },
    data(){
        return {
           messageList:[],
           tpe:0,
           is_team:0
        }         
    },
    watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                this.linkName = this.$route.name;
                this.getInforList(val);
             
            } 
         }
      },
    methods:{
            getInforList(item){
             //   console.log(item,666666666666666666)
                if(item.link == 'voluntPageLink'){
                    this.is_team = 1
                }
                this.http.get("api/v2/activity/activityList?tpe="+this.tpe+"&is_team="+this.is_team+"&category="+item.childId+"&pagesize=3").then(res=>{
                    this.messageList = res.data.data.items;
                    this.messageList.forEach(item=>{
                        item.images =item.images?this.Global.imgUrl+item.images:this.Global.imgMr;
                    })
                   // console.log(this.messageList,9888888);
                })
            },       
            goDetail(item){
                if(this.linkName == 'preachingLink'){
                    this.$router.push({name:'preachActiveLink',params:{'id':item.id}}) 
                }else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educaActiveLink',params:{'id':item.id}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturActiveLink',params:{'id':item.id}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienActiveLink',params:{'id':item.id}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitActiveLink',params:{'id':item.id}}) 
                } else{
                    this.$router.push({name:'voluntActiveLink',params:{'id':item.id}}) 
                }
            }     
      }
}
</script>
<style>
   .order-edu{
       float:left;
       width:31%;
       margin:0 1% 0 1%;
   }
   .order-edu img{
       width:100%;
       height:150px;
       cursor:pointer;
   }
   .order-edu strong{
       cursor:pointer;
       display:block;
       height:45px;
       margin-top:5px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
   }
   .order-edu p{
        cursor:pointer;
        height:50px;
        margin-top:5px;
        color:#666;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom:10px;
   }
   .order-edu span{
        width:80px;
        height:30px;
        border-radius:5px;
        display:block;
        text-align:center;
        color:#71151a;
        border:2px solid #71151a;
        cursor:pointer;
        margin-left:50%;
        -webkit-transform: translateX(-60%);
        -ms-transform: translateX(-60%);
        transform: translateX(-60%);
    }

  
</style>