<template>
    <div class="place-infor" >
        <img class="place-img" :src="messageNu.img" @click="getDetail()">
        <span  @click="getDetail()">
            {{messageNu.title}}
        </span>
        <p  @click="getDetail()">{{messageNu.brief}}</p>
    </div >
</template>
<script>
   export default {
      props: {
            visible: {
                default() {
                    return{
                    }
                }
            }
      },
      data(){
            return {
               messageNu:{},
            }         
        },
      watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                //console.log(11111,val)
                this.getInforList(val.childId)
            } 
         }
      },
      methods:{
         getInforList(cid){
           // console.log(cid,666666666666666666)
            this.http.get("api/v2/article/articleList?device=pc&cid="+cid+'&device=pc&pagesize=10').then(res=>{
                let message = res.data.data.items;
                //console.log(message,555555)
                for(let key in message){
                    if(message[key].tpe == 1 || message[key].tpe == 2 || message[key].tpe == 3){   
                        this.messageNu = message[key];
                        this.messageNu.img =  this.messageNu.tpe == 3?this.Global.imgUrl+this.messageNu.photos[0]:this.messageNu.tpe == 2?this.Global.imgUrl+this.messageNu.img:this.Global.imgMr;
                        break;
                    }
                }
              //  console.log(this.messageNu,111111)
                
               
            })
         },
         getDetail(){
              this.$router.push({name:'fitDetaillLink',params:{'id':this.messageNu.id,'dataType':'article','type':this.messageNu.tpe}}) 
         }
      }

  
}
</script>
<style>
    .place-img{
        display:block;
        margin:20px 0 10px 50%;
        width:100%;
        height:160px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        cursor:pointer;
    }
    .place-infor span{
        width:100%;
        display:block;
        margin-bottom:10px;
        font-size:18px;
        height:30px;
        overflow:hidden;
        cursor:pointer;

    }
    .place-infor p{
        line-height:12px;
        height:18px;
        line-height:18px;
        color:#999;
        margin-bottom:10px;
        overflow:hidden;
        cursor:pointer;
    }
</style>