<template>
    <div>
        <div class="welfare-infor">
            <img class="welfare-img" src="../../assets/pngcs.jpg">
            <p>
            新时代的青年工作要毫不动摇坚持党。
            </p>
        </div>
        <div class="welfare-infor">
            <img class="welfare-img" src="../../assets/pngcs.jpg">
            <p>
            新时代的青年工作
            </p>
        </div>
        <div class="welfare-infor">
            <img class="welfare-img" src="../../assets/pngcs.jpg">
            <p>
            新时代的青年工作
            </p>
        </div>
        <div class="welfare-infor">
            <img class="welfare-img" src="../../assets/pngcs.jpg">
            <p>
            新时代的青年工作
            </p>
        </div>
        <div class="welfare-infor">
            <img class="welfare-img" src="../../assets/pngcs.jpg">
            <p>
            发展道路，紧紧围绕、始终贯穿为实现中国梦而奋斗的主题，让广大青年敢于有梦、勇于追梦、勤于圆梦。
            </p>
        </div>
    </div>   
    
</template>
<script>
</script>
<style>
   .welfare-infor{
       float:left;
       width:18%;
       margin:0 1% 0 1%;
   }
   .welfare-infor img{
       width:100%;
       display:block;
   }
   .welfare-infor p{
        width:100%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
   }
   </style>
