<template>
   <div class="theory-message" v-if="Object.keys(message).length">
        <img class="theory-img" :src="message.images" @click="goDetail()" >
        <p @click="goDetail()">{{message.title}}</p>
        <p @click="goDetail()" class="theory-brief"> {{message.brief}}</p>
        <span @click="goDetail()">预约</span>
   </div>
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
           message:{},
           tpe:0,
           is_team:0,
           linkName:''
        }         
    },
    watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                this.linkName = this.$route.name;
                this.getInforList(val)
            } 
         }
      },
    methods:{
            getInforList(item){
                //console.log(item,666666666666666666)
                if(item.link == "educaPageLink"){
                    this.tpe == 1
                }
                if(item.link == 'voluntPageLink'){
                    this.is_team = 1
                }
                this.http.get("api/v2/activity/activityList?tpe="+this.tpe+"&is_team="+this.is_team+"&category="+item.childId+"&pagesize=1").then(res=>{
                    this.message = res.data.data.items[0];
                    this.message.images= this.message.images?this.Global.imgUrl+this.message.images:this.Global.imgMr;
                   // console.log(this.message,1231213)
                })
            },
            goDetail(){
                 if(this.linkName == 'preachingLink'){
                    this.$router.push({name:'preachActiveLink',params:{'id':this.message.id}}) 
                }else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educaActiveLink',params:{'id':this.message.id}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturActiveLink',params:{'id':this.message.id}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienActiveLink',params:{'id':this.message.id}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitActiveLink',params:{'id':this.message.id}}) 
                } else{
                    this.$router.push({name:'voluntActiveLink',params:{'id':this.message.id}}) 
                }
            }
            
      }
}
</script>
<style>
.theory-message .theory-img{
    width:80%;
    margin-left:10%;
    height:150px;
    cursor:pointer;
}
.theory-message p{
    cursor:pointer;
    margin-top:10px;
    text-align:center;
    height:22px;
    color:#333;
    font-size:20px;
    line-height:21px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.theory-message .theory-brief{
    color:rgba(102,102,102,0.77);
    font-size:18px;
}
.theory-message span{
    width:80px;
    height:30px;
    border-radius:5px;
    display:block;
    text-align:center;
    color:#71151a;
    border:2px solid #71151a;
    cursor:pointer;
    margin-left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
</style>