<template>
   <div class="video-message">
        <diV class="video-img">
            <div class ="video-bf"  v-if="message.tpe == 4"  @click="goDetail()">
                <img src="../../../dist/bf.png" @click="goDetail()">
            </div>
            <img  :src="imgUrl" @click="goDetail()" >
            <!--<video v-if="message.tpe == 4"  style="width:90%;height:250px;" :src="videoUrl" controls="controls">
                 您的浏览器不支持 video 标签。
            </video>-->
        </div>
        <div class="font-right">
            <span @click="goDetail()">{{message.title}}</span>
            <p @click="goDetail()">{{message.brief}}</p>
        </div>
   </div>
</template>
<script>
   export default {
    props: {
        visible: {
            default() {
                return{
                }
            }
        }
    },
    data(){
        return {
            message:{},
            imgUrl:'',
            videoUrl:'',
            linkName:''
        }         
    },
    watch: {
         visible (val, oldVal) {
            if(val != oldVal){
                this.linkName = this.$route.name;
                this.getInforList(val.childId)
            } 
         }
      },
    methods:{
            getInforList(cid){
                //console.log(cid,666666666666666666)
                this.http.get("api/v2/article/articleList?device=pc&cid="+cid+'&device=pc&pagesize=10').then(res=>{
                 //console.log(res)
                var messageList= res.data.data.items;
                for(let i=0;i<messageList.length;i++)
                {
                   if(messageList[i].tpe!=5){
                       this.message = messageList[i];
                       break;
                   }
                }
               // console.log(this.message,1231213)
                    if(this.message.tpe == 1){
                        this.imgUrl = this.Global.imgMr;
                    }else if(this.message.tpe == 2){
                        this.imgUrl = this.message.img?this.Global.imgUrl+this.message.img:this.Global.imgMr;
                    } else if(this.message.tpe == 3){
                        this.imgUrl =this.message.photos[0]?this.Global.imgUrl+this.message.photos[0]:this.Global.imgMr;
                    } else if( this.message .tpe == 4){
                         this.imgUrl = this.message.img? this.Global.imgUrl+this.message.img:this.Global.imgMr;
                    }
                
                })
            },
            goDetail(){
                if(this.linkName == 'preachingLink'){
                    this.$router.push({name:'preachDetailLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                }else if(this.linkName == 'educationalLink'){
                     this.$router.push({name:'educahDetailLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                } else if(this.linkName == 'culturalLink'){
                     this.$router.push({name:'culturDetaillLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                } else if(this.linkName == 'scienceLink'){
                     this.$router.push({name:'scienDetaillLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                } else if(this.linkName == 'fitnessLink'){
                     this.$router.push({name:'fitDetaillLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                } else{
                    this.$router.push({name:'voluntDetaillLink',params:{'id':this.message.id,'dataType':'article','type':this.message.tpe}}) 
                }
            }
      }
}
</script>
<style>
    .video-message{
        height:250px;
        width:100%;
    }
    .video-img{
        height:100%;
        width:66%;
        float:left;
        position:relative;
    }
     .video-img>img{
         display:block;
         cursor:pointer;
         width:100%;
         height:100%;
         position:absolute;
         z-index:2;
     }
    .video-img .video-bf{
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.1);
        position:absolute;
        display:none;
        z-index:5;
        cursor:pointer;
     }
    .video-bf img{
        width:80px;
        height:80px;
        margin-left:50%;
        margin-top:20%;
        display:none;
        transform: translate(-50%);
     }
     .video-img:hover .video-bf, .video-img:hover .video-bf img{
         display:block;
     }
    .video-message div:last-child{
        height:100%;
        width:32%;
        float:right;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
    }
    .video-message .font-right{
        font-size:20px;
        margin:10px 0 0 0;
        font-family:MicrosoftYaiHeiUI;
        color:#333;
    }
    .font-right span{
        cursor:pointer;
        height:60px;
        margin-bottom:10px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        
    }
    .font-right p{
        font-size:18px;
        color:#666;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
</style>