<template>
    <div class="cul-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li" class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[
                    {name: "文化资讯", id: 267, dataType: "article", link: "culturInforLink"}
                    ,{name: "文化讲堂", id: 296, dataType: "article", link: "culturForumLink"}
                    ,{name: "文化分队", id: 297, dataType: "article", link: "culturOperaLink"}
                    ,{name: "文化活动", id: 299, dataType: "article", link: "culturExhibitionLink"}
                    ,{name: "文化故事", id: 298, dataType: "article", link: "culturDanceLink"}
                    ,{name: "点单文化", id: 3, dataType: "activity", link: "culturPointLink"}
                    //,{name: "文明银行", id: 0, dataType: "bank", link: "culturBankLink"}
                    ,{name: "通知公告", id: 272, dataType: "notice", link: "culturNoticeLink"}
                    
                ]
            }
        }
    }
</script>
<style>
    .cul-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .cul-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .cul-page .tiem-list span{
        color:#1462ac;
    }
    .cul-page .pre-active span{
        color:#fff;
    }
</style>