<template>
    <div class="edu-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li" class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[
                    {
                        dataType: "article",
                        id: 264,
                        link: "educaInforLink",
                        name: "教育资讯"
                    },
                    {
                        dataType: "article",
                        id: 292,
                        link: "educaModelrLink",
                        name: "国学讲堂"
                    },
                    // {
                    //     dataType: "vote",
                    //     id: 0,
                    //     link: "educaGoodLink",
                    //     name: "丹阳好人"
                    // },
                    {
                        dataType: "activity",
                        id: 2,
                        link: "educaPointLink",
                        name: "点单教育"
                    },
                    {
                        dataType: "article",
                        id: 293,
                        link: "educaGrowthLink",
                        name: "文明伴成长"
                    },
                    {
                        dataType: "article",
                        id: 294,
                        link: "educaHarmoniousLink",
                        name: "文明促和谐"
                    },
                    {
                        dataType: "article",
                        id: 295,
                        link: "educaRevitalizationLink",
                        name: "文明助振兴"
                    },
                    // {
                    //     dataType: "vote",
                    //     id: 0,
                    //     link: "educaFamilyLink",
                    //     name: "最美家庭"
                    // },
                    {
                        dataType: "notice",
                        id: 266,
                        link: "educaNoticeLink",
                        name: "通知公告"
                    },
                    {
                        dataType: "case",
                        id: 0,
                        link: "educaExposureLink",
                        name: "随手拍"
                    }
                    
                ]
            }
        }
    }
</script>
<style>
    .edu-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .edu-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .edu-page .tiem-list span{
        color:#1462ac;
    }
    .edu-page .pre-active span{
        color:#fff;
    }
</style>