<template>
    <div class="fit-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li"  class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[
                    {name: "体育资讯", id: 278, dataType: "article", link: "fitInforLink"}               
                    //,{name: "一镇一品", id: 280, dataType: "article", link: "fitTownLink"}                 
                    ,{name: "篮球城市", id: 279, dataType: "article", link: "fitBasektLink"}
                    ,{name: "视频教学", id: 303, dataType: "article", link: "fitShareLink"}
                    ,{name: "全民健身", id: 281, dataType: "article", link: "fitNationalLink"}
                    ,{name: "点单体育", id: 5, dataType: "activity", link: "fitPointLink"}
                    ,{name: "通知公告", id: 283, dataType: "notice", link: "fitNoticeLink"}
                    
                ]
            }
        }
    }
</script>
<style>
    .fit-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .fit-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .fit-page .tiem-list span{
        color:#1462ac;
    }
    .fit-page .pre-active span{
        color:#fff;
    }
</style>