<template>
   <div  class="pic-list">
        <div class="pic-div" v-if="pageList.length">
            <div class="pic-kuang" v-for="item in pageList " @click="goDetail(item)">
                <div class="pic-neiKuang">
                    <img  :src="item.images" style="width:100%;height:140px">
                    <div v-if="item.brief" class="pic-lineHeight">{{item.brief}}</div>
                </div>
                <p>{{item.title}}</p>
                <p v-if="item.format_start_time">开始日期：{{item.format_start_time}}</p>
                <p v-if="item.format_end_time">结束日期：{{item.format_end_time}}</p>
            </div>
        </div> 
        <div class="pic-tom">
            <span class="pic-total" v-if="pages>0&&page>0&&pageList.length != 0">
                共{{total}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{page}}/{{pages}}
            </span>
            <nav aria-label="Page navigation example" v-if="pages>0&&page>0&&pageList.length != 0">
                <ul class="pagination pic-right">
                    <li class="page-item"><a class="page-link" @click="goTop()">首页</a></li>
                    <li class="page-item" v-if="page!=1" @click="goBack('0')">
                    <a class="page-link"  aria-label="Previous">&laquo; </a>
                    </li>
                    <li v-for="count in numberList" class="page-item" :class="{'active':page == count}"><a class="page-link" @click="goNumber(count)"  >{{count}}</a></li>
                    <li class="page-item" v-if="page!=pages" @click="goBack('1')">
                    <a class="page-link"  aria-label="Next">&raquo; </a>
                    </li>
                    <li class="page-item"><a class="page-link" @click="goBottom()">尾页</a></li>
                </ul>
            </nav>
        </div>
   </div>
</template>
<script>
    export default{
        data(){
            return {
                numberList:[],
                pageList:[],
                is_team:0,
                tpe:0,
                total:0,
                pageSize:9,
                page:1,
                pages:0,
                limit:5
            }
        },
        watch:{
            '$route' (to, from) {
            //console.log(this.$route.params)
            this.page =1;
            this.pageList=[];
            this.getList();
            }
        },
        created(){
            this.getList();
        },
        methods:{
            getList(){
                //console.log(666666666666);
                this.id = this.$route.params.id;
                this.dataType = this.$route.params.dataType;
                this.linkName = this.$route.name;
                if(this.dataType == 'activity'||this.dataType =='volunteeractivity'){
                    if(this.dataType == 'volunteeractivity'){
                        this.is_team = 1;
                    }
                this.http.get("api/v2/activity/activityList?tpe="+this.tpe+"&is_team="+this.is_team+"&category="+this.id+"&pagesize="+this.pageSize+'&page='+this.page).then(res=>{
                    // console.log(res.data.data)
                        this.total = res.data.data.total;
                        this.pageList = res.data.data.items;
                        this.pageList.forEach(item=>{
                            item.images = item.images?this.Global.imgUrl+item.images:this.Global.imgMr;
                        })
                        this.pages = this.total%this.pageSize == 0?this.total/this.pageSize:parseInt(this.total/this.pageSize)+1;
                        // console.log(this.pages)
                        this.changeNumber(this.page,this.pages);
                        //console.log(this.pageList,this.total,11111)
                        })
                    } else if(this.dataType == 'volunteergroup'){
                        this.http.get("api/v2/volunteer/volunteerGroupList?&pagesize="+this.pageSize+'&page='+this.page).then(res=>{
                            console.log(res.data.data)
                            this.total = res.data.data.total;
                            this.pageList = res.data.data.items;
                            this.pageList.forEach(item=>{
                                item.images = item.logo?this.Global.imgUrl+item.logo:this.Global.imgMr;
                            })
                            this.pages = this.total%this.pageSize == 0?this.total/this.pageSize:parseInt(this.total/this.pageSize)+1;
                            // console.log(this.pages)
                            this.changeNumber(this.page,this.pages);
                        })
                    }
            },
            goDetail(item){
                console.log(item,this.linkName ,6666666666);
                if(this.linkName == 'preachPointLink'){
                    this.$router.push({name:'preachActiveLink',params:{id:item.id}});
                }else if(this.linkName == 'educaPointLink'){
                    this.$router.push({name:'educaActiveLink',params:{id:item.id}});
                }else if(this.linkName == 'culturPointLink'){
                    this.$router.push({name:'culturActiveLink',params:{id:item.id}});
                } else if(this.linkName == 'scienPointLink'){
                    this.$router.push({name:'scienActiveLink',params:{id:item.id}});
                }  else if(this.linkName == 'fitPointLink'){
                    this.$router.push({name:'fitActiveLink',params:{id:item.id}});
                }  else if(this.linkName == 'voluntInforLink' ||this.linkName == 'voluntOrderLink'){
                    this.$router.push({name:'voluntActiveLink',params:{id:item.id}});
                } 
                
            },
            goTop(){
                this.page = 1;
                this.getList();
            },
            goBottom(){
                this.page = this.pages;
                this.getList();
            },
            goBack(type){
                if(type == '0'&& this.page>1){
                    this.page--;
                }else{
                    this.page++;
                }
                this.getList();

            },
            goNumber(count){
                this.page=count;
                this.getList();
            },
            changeNumber(page,pages)
            {
                this.numberList=[];
                if(pages>0 &&page >0){
                    if(pages>this.limit ){
                        if(pages-page>=this.limit-1){
                            for(let i=0;i<this.limit;i++){
                                this.numberList.push(page+i);
                            }
                        }else{
                            for(let i=pages-this.limit+1;i<=pages;i++){
                                this.numberList.push(i);
                            }
                        }
                        
                    }else{
                        for(let i=1;i<=pages;i++){
                             this.numberList.push(i);
                        }
                    }
                    
                }
            }   
            
        }
    }
</script>
<style>
.pic-list .pic-kuang{
    width:30%;
    margin:10px 1% 10px 1%;
    border:1px solid #999;
    cursor:default;
    float:left;
}
.pic-div{
    overflow:hidden;
}
.pic-kuang:hover .pic-lineHeight{
    display:block;
}
.pic-kuang:hover{
    box-shadow: 1px 1px 1px #666;
}
 .pic-kuang .pic-neiKuang{
    margin:5px 5px 5px 5px; 
    position:relative;
    height:140px;
    cursor:pointer;
 }
 
 .pic-neiKuang img{
    z-index:2;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
 }
.pic-neiKuang .pic-lineHeight{
    display:none;
    height:30px;
    line-height:30px;
    text-indent:1rem;
    font-size:18px;
    position:absolute;
    bottom:0;
    left:0;
    overflow: hidden;
    right:0;
    background-color:rgba(0,0,0,0.6);
    color:#f2f2f2;
    z-index:6;
}
 .pic-kuang p{
    margin-left:5px;
    height:16px;
    line-height:16px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom:8px;
 }
 .pic-tom{
     width:100%;
 }
.pic-total{
    font-size:16px;
    color:#333;
    float:left;
    margin-top:15px;
}
.pic-right {
    margin-top:10px;
    float:right;
}
.pic-right .page-link{  
    font-size:16px;  
    color:#333;
}
.pic-content{
    width:80%;
    color:#666;
    float:left;
    font-size:20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor:pointer;
}
.pic-content:hover{
    color:#333;
}
.pic-right .active{
    color:#1462ac;
}
.pic-time{
    color:#666;
    font-size:20px;
    float:right;
    text-align:right;
    width:18%;
}
</style>