<template>
   <div  class="art-list">
        <div v-for="item in pageList ">
            <p class="art-content" @click="goDetail(item)">{{item.title}}</p><span class="art-time">{{item.add_time}}</span>
        </div>
        <p v-if="pageList.length == 0">
        </p>
        <span class="art-total" v-if="pages>0&&page>0&&pageList.length != 0">
            共{{total}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{page}}/{{pages}}
        </span>       
        <nav aria-label="Page navigation example" v-if="pages>0&&page>0&&pageList.length != 0">
            <ul class="pagination art-right">
                <li class="page-item"><a class="page-link" @click="goTop()">首页</a></li>
                <li class="page-item" v-if="page!=1" @click="goBack('0')">
                <a class="page-link"  aria-label="Previous">&laquo; </a>
                </li>
                <li v-for="count in numberList" class="page-item" :class="{'active':page == count}"><a class="page-link" @click="goNumber(count)" >{{count}}</a></li>
                <li class="page-item" v-if="page!=pages" @click="goBack('1')">
                <a class="page-link"  aria-label="Next">&raquo; </a>
                </li>
                <li class="page-item"><a class="page-link" @click="goBottom()">尾页</a></li>
            </ul>
        </nav>
   </div>
</template>
<script>
    export default{
        data(){
            return {
                numberList:[],
                pageList:[],
                linkName:'',
                total:0,
                pageSize:15,
                page:1,
                pages:0,
                limit:5
            }
        },
        watch:{
            '$route' (to, from) {
            //console.log(this.$route.params)
            this.page =1;
            this.pageList=[];
            this.getList();
            }
        },
        created(){
            this.getList();
        },
        methods:{
            getList(){
                //console.log(666666666666);
                this.id = this.$route.params.id;
                this.dataType = this.$route.params.dataType;
                this.linkName = this.$route.name;
                if(this.dataType == 'article'){
                this.http.get("api/v2/article/articleList?device=pc&cid="+this.id+'&device=pc&pagesize='+this.pageSize+'&page='+this.page).then(res=>{
                    //console.log(res.data.data)
                    this.total = res.data.data.total;
                    this.pageList = res.data.data.items;
                    this.pages = this.total%this.pageSize == 0?this.total/this.pageSize:parseInt(this.total/this.pageSize)+1;
                    this.changeNumber(this.page,this.pages);
                    //console.log(this.pageList,this.total,11111)
                    })
                } else if(this.dataType == 'notice'){
                    this.http.get("api/v2/article/noticeList?device=pc&cid="+this.id+'&device=pc&pagesize='+this.pageSize+'&page='+this.page).then(res=>{
                    this.total = res.data.data.total;
                    this.pageList = res.data.data.items;
                    this.pages = this.total%this.pageSize == 0?this.total/this.pageSize:parseInt(this.total/this.pageSize)+1;
                    this.changeNumber(this.page,this.pages);
                    //console.log(this.pageList,this.total,11111)
                    })
                } else if(this.dataType == 'case'){
                     this.http.get("api/v2/Cases/caseList?pagesize="+this.pageSize+'&page='+this.page).then(res=>{
                        this.total = res.data.data.total;
                        this.pageList = res.data.data.items;
                        this.pages = this.total%this.pageSize == 0?this.total/this.pageSize:parseInt(this.total/this.pageSize)+1;
                        this.changeNumber(this.page,this.pages);
                    })
                }
            },
            goDetail(item){
                if(this.linkName == 'preachPointLink'|| this.linkName == 'preachInforLink' || this.linkName == 'preachBiographyLink' || this.linkName =='preachKnowledgeLink' ||this.linkName =='preachNoticeLink'){
                    this.$router.push({name:'preachDetailLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}}) 
                }else if(this.linkName =="educaInforLink"||this.linkName =="educaModelrLink"||this.linkName =="educaGoodLink"||this.linkName =="educaFamilyLink"||this.linkName =="educaExposureLink"||this.linkName =="educaNoticeLink"||this.linkName =="educaPointLink"){
                    this.$router.push({name:'educahDetailLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}}) 
                } else if(this.linkName == 'culturInforLink'||this.linkName == 'culturForumLink'||this.linkName == 'culturOperaLink'||this.linkName == 'culturExhibitionLink'||this.linkName == 'culturDanceLink'||this.linkName == 'culturBankLink'||this.linkName == 'culturNoticeLink'||this.linkName == 'culturPointLink'){
                    this.$router.push({name:'culturDetaillLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}})
                } else if(this.linkName == 'scienInforLink'||this.linkName == 'scienForumLink'||this.linkName == 'scienBreedLink'||this.linkName == 'scienReviewLink'||this.linkName == 'scienNoticeLink'||this.linkName == 'scienPointLink'){
                    this.$router.push({name:'scienDetaillLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}})
                } else if(this.linkName == 'fitInforLink'||this.linkName == 'fitBasektLink'||this.linkName == 'fitTownLink'||this.linkName == 'fitNationalLink'||this.linkName == 'fitShareLink'||this.linkName == 'fitNoticeLink'||this.linkName == 'fitPointLink'){
                    this.$router.push({name:'fitDetaillLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}})
                } else if(this.linkName =='voluntInforLink'|| this.linkName =='voluntTrainLink'||this.linkName =='voluntElegantLink'||this.linkName =='voluntTeamLink'||this.linkName =='voluntNoticeLink'||this.linkName =='voluntGlimpseLink'){
                     this.$router.push({name:'voluntDetaillLink',params:{'id':item.id,'dataType':this.dataType,'type':item.tpe}})
                }
            },
            goTop(){
                this.page = 1;
                this.getList();
            },
            goBottom(){
                this.page = this.pages;
                this.getList();
            },
            goBack(type){
                if(type == '0'&& this.page>1){
                    this.page--;
                }else{
                    this.page++;
                }
                this.getList();

            },
            goNumber(count){
                this.page=count;
                this.getList();
            },
            changeNumber(page,pages)
            {
                this.numberList=[];
                if(pages>0 &&page >0){
                    if(pages>this.limit ){
                        if(pages-page>=this.limit-1){
                            for(let i=0;i<this.limit;i++){
                                this.numberList.push(page+i);
                            }
                        }else{
                            for(let i=pages-this.limit+1;i<=pages;i++){
                                this.numberList.push(i);
                            }
                        }
                        
                    }else{
                        for(let i=1;i<=pages;i++){
                             this.numberList.push(i);
                        }
                    }
                    
                }
            }   
            
        }
    }
</script>
<style>
.art-list div{
    height:45px;
    line-height:45px;
    border-bottom: 1px dashed #1462AC;
    overflow:hidden;
}

.art-total{
    font-size:16px;
    color:#333;
    float:left;
    margin-top:15px;
}
.art-right {
    margin-top:10px;
    float:right;
}
.art-right .page-link{  
    font-size:16px;  
    color:#333;
}
.art-right .active{
    color:#1462ac;
}
.art-content{
    width:80%;
    color:#666;
    float:left;
    font-size:20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor:pointer;
}
.art-content:hover{
    color:#333;
}
.art-time{
    color:#666;
    font-size:20px;
    float:right;
    text-align:right;
    width:18%;
}
</style>