<template>
    <div class="pre-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li" class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[   
                    {name: "理论资讯", id: 258, dataType: "article", link: "preachInforLink"}
                    ,{name: "金山理论讲习所", id: 259, dataType: "article", link: "preachBiographyLink"}
                    ,{name: "公开课", id: 290, dataType: "article", link: "preachKnowledgeLink"}
                    ,{name: "党建播报", id: 291, dataType: "article", link: "broadcastingLink"}
                    ,{name: "主题党日", id: 292, dataType: "article", link: "themeDayLink"}
                    ,{name: "通知公告", id: 263, dataType: "notice", link: "preachNoticeLink"}
                    ,{name: "点单理论", id: 1, dataType: "activity", link: "preachPointLink"}
                    
                    
                ]
            }
        }
    }
</script>
<style>
    .pre-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .pre-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .pre-page .tiem-list span{
        color:#1462ac;
    }
    .pre-page .pre-active span{
        color:#fff;
    }
</style>