<template>
    <div class="sci-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li" class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[
                    {name: "科普资讯", id: 273, dataType: "article", link: "scienInforLink"}
                    ,{name: "科普讲堂", id: 274, dataType: "article", link: "scienForumLink"}
                    ,{name: "科普活动", id: 300, dataType: "article", link: "scienBreedLink"}
                    ,{name: "通知公告", id: 277, dataType: "notice", link: "scienNoticeLink"}
                    ,{name: "点单科普", id: 4, dataType: "activity", link: "scienPointLink"}
                    ,{name: "移风易俗", id: 301, dataType: "article", link: "scienReviewLink"}
                    
                    
                ]
            }
        }
    }
</script>
<style>
    .sci-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .sci-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .sci-page .tiem-list span{
        color:#1462ac;
    }
    .sci-page .pre-active span{
        color:#fff;
    }
</style>