<template>
    <div class="vou-page">
        <div class="row mb-5">
            <div class="col-3">
                <div class="list-group mb-5">
                    <router-link tag="li" class="tiem-list" v-for="item in NavList" :to="{name:item.link,params:{'id':item.id,'dataType':item.dataType}}" active-class="pre-active" exact>
                        <span>{{item.name}}</span>
                    </router-link>
                </div>
            </div>
            <div class="col-9">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                NavList:[
                    {name: "活动资讯", id: 287, dataType: "article", link: "voluntGlimpseLink"}
                    ,{name: "活动发布", id: 0, dataType: "activity", link: "voluntInforLink"}
                    ,{name: "志愿者风采", id: 284, dataType: "article", link: "voluntElegantLink"}
                    ,{name: "志愿者培训", id: 285, dataType: "article", link: "voluntTrainLink"}            
                    //,{name: "点单服务", id: 0, dataType: "volunteeractivity", link: "voluntOrderLink"}
                    ,{name: "志愿者团体", id: 302, dataType: "article", link: "voluntTeamLink"}
                    ,{name: "通知公告", id: 286, dataType: "notice", link: "voluntNoticeLink"}
                   
                    
                    
                ]
            }
        }
    }
</script>
<style>
    .vou-page .pre-active{
        background-image:url('../../assets/listRed.png')!important;
    }
    .vou-page .tiem-list{
        cursor:pointer;
        display: block;
        height:70px;
        width:250px;
        background-size:250px 70px;
        background-image:url('../../assets/listBlue.png');
        font-size:25px;
        padding-left:30px;
        line-height:70px;
        margin:10px 0 10px 0;
    }
    .vou-page .tiem-list span{
        color:#1462ac;
    }
    .vou-page .pre-active span{
        color:#fff;
    }
</style>