<template> 
    <div class="active-detail">
        <div class="active-header">
            <div>
                <img :src="activeDetail.images" style="width:100%;height:100%;">
            </div>
            <div>
                <p><span>活动开始时间：</span>{{activeDetail.format_start_time}}</p>
                <p><span>活动结束时间：</span>{{activeDetail.format_end_time}}</p>
                <p><span>联络人：</span>{{activeDetail.contacter}}</p>
                <p><span>联系电话：</span>{{activeDetail.phone}}</p>
                <p><span>活动地址：</span>{{activeDetail.address}}</p>
                <p><span>{{activeDetail.is_team == 0?'点单人数：':'报名人数'}}</span>{{activeDetail.bm_count}}/{{activeDetail.person_limit==0?'不限':activeDetail.person_limit}}</p>
                <strong v-if="activeDetail.status==0" class="active-end">（活动未开始）</strong>
                <strong v-if="activeDetail.status==1">（活动正在进行中...）</strong>
                <strong v-if="activeDetail.status==2" class="active-end">（活动已结束）</strong>
            </div>
        </div>
        <div class="active-content">
            <strong>活动标题：</strong>
            <p>{{activeDetail.title?activeDetail.title:'暂无'}}</p>
            <strong>活动简介：</strong>
            <p>{{activeDetail.brief?activeDetail.brief:'暂无'}}</p>
            <strong>活动内容：</strong>
            <p v-html="activeDetail.content"></p>
            <div><span class="bm-btn"  v-if="activeDetail.status==1|| activeDetail.status==0"  @click="userEnroll()" >{{activeDetail.is_team == 0?'我要点单':'我要报名'}}</span></div>
        </div>
        <div class="active-bottom" v-if="activeDetail.bm_count>0&&activeDetail.status!=2">
            <div>{{activeDetail.is_team == 0?'点单记录：':'报名记录'}}</div>
            <diV class="headerList">
                <div v-for="item in activeDetail.joiner" :key ="item.nick_name">
                    <img :src="item.head_img">
                    <p>{{item.nick_name}}</p>
                </div>
            </div>
        </div>
        <login-tip :visible="userMessage" @showCityName="updateCity" ></login-tip>
    </div>
</template>
<script>
import LoginTip from'../assembly/enroll';
    export default{
        components:{ LoginTip },
        data(){
            return{
                id:'',
                activeDetail:'',
                userMessage:{
                    id:'',
                    token:''
                },
                status:false
            }
        },
        created(){
            this.id = this.$route.params.id;
            this.getDetail();
        },
        methods:{
            getDetail(){
                 this.http.get("api/v2/activity?id="+this.id).then(res=>{
                    this.activeDetail =res.data.data;
                    //console.log(this.activeDetail.id,6666666666666666);
                    this.activeDetail.images =  this.activeDetail.images?this.Global.imgUrl+this.activeDetail.images:this.Global.imgMr;
                 })
            },
            userEnroll(){
                if(sessionStorage.getItem("user_token")){
                    this.$store.dispatch("setUserToken",sessionStorage.getItem("user_token"))
                }
                console.log(this.$store.getters.access_token,666);
                $('#enroll').modal({
                    show: true
                });
                    
                this.userMessage.id= this.id;
                this.userMessage.token = this.$store.getters.access_token;
                
            },
            updateCity(err){
                this.$toast.top(err);
            }
        }
    }
</script>
<style>
    .active-detail .active-header{
        overflow:hidden;
    }
    .active-header>div{
        float:left;
    }
    .active-header>div:first-child{
        height:400px;
        width:600px;
    }
    .active-header>div:last-child{
        width:400px;
        margin:10px 0 0 70px;
    }
    .active-header p{
        font-size:20px;
        color:#666666;    
        margin-top:22px;
    }
    .active-header p>span{
        color:#404040;
        font-weight:bold;
    }
    .active-header strong{
        color:#db493a;
        font-size:30px;
     }
    .active-content,.active-bottom{
        width:100%;
        border:2px solid #eee;
        margin:50px 0 20px 0;
        padding:20px 30px 20px 30px;
    }
    .active-content strong{
        font-size:22px;    
        height:50px;
        line-height:50px;
        display:block;
    }
    .active-content p {
        font-size:18px;
        color:#444;
    }
    .active-content img{
        height:300px;
        display:block;
        margin-left:50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

    }
    .active-content div{
        overflow:hidden;
    }
    .bm-btn{
        width:329px;
        height:60px;
        display:block;
        background-image:url('../../assets/btn.png');
        background-size:100%;
        text-align:center;
        line-height:60px;
        float:right;
        color:#fff;
        font-size:30px;
        cursor:pointer;
    }
    .active-bottom>div:first-child{
        font-size:24px;
        color:#1426ac;
        font-weight:bold;
    }
    .headerList{
        overflow:hidden;
    }
    .headerList>div{
        width:120px;
        height:120px;
        margin:20px 25px 10px 25px;
        float:left;
    }
    .headerList>div img{
        display:block;
        height:80px;
        margin-left:20px;
        width:80px;
        border-radius:50%;
    }
    .active-end{
        color:#666;
    }
    .headerList>div p {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align:center;
        line-height:40px;
    }
   
</style>