<template>
    <div class="detail">
        <p class="detail-title">{{detailMessage.title}}</p>
        <p class="detail-time" v-if="detailMessage.format_add_time || detailMessage.addtime">日期：{{detailMessage.format_add_time?detailMessage.format_add_time:detailMessage.addtime}}</p>
        <img v-if="type == 2" class="detail-img" :src="imgUrl">
        <video v-if="type == 4" class="detail-video"  :src="videoUrl" controls="controls">
            您的浏览器不支持 video 标签。
        </video>
        <div id="carouselExampleIndicators" class="carousel slide lunbo" data-ride="carousel" v-if="type == 3">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" v-for="item in photos" :data-slide-to="index+1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" :src="imgUrl" style="height:500px;width:800px;" alt="First slide">
                </div>
                <div class="carousel-item" v-for="item in photos ">
                    <img class="d-block w-100" :src="item" style="height:500px;width:800px;" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div v-if="this.dataType == 'case'"><strong style="font-size:24px;">曝光内容：</strong></div>
        <div  class="detail-content" v-html="detailMessage.content"></div>   
        <div  v-if="this.dataType == 'case'&&detailMessage.deal_content"> <strong style="font-size:24px;">处理结果：</strong></div>   
        <div  class="detail-content" v-if="detailMessage.deal_content" v-html="detailMessage.deal_content"></div>      
    </div>
</template>
<script>
export default{
    data(){
        return {
            id:'',
            dataType:'',
            type:'',
            imgUrl:'',
            photos:[],
            messageUrl:'',
            videoUrl:'',
            detailMessage:{}
        }
    },
    created(){
        this.id = this.$route.params.id;
        this.dataType =this.$route.params.dataType;
        this.type = this.$route.params.type;
        this.getDetail();
        //console.log(this.id,this.dataType,123121)    
    },
    methods:{
       getDetail(){
           if(this.dataType == 'article'|| this.dataType == 'notice'){
                this.http.get("api/v2/article?id="+this.id).then(res=>{
                    //console.log(res.data.data,111111111111111111)
                    this.detailMessage = res.data.data;
                    if(this.type == 2 && this.detailMessage.img!= null){
                        this.imgUrl = this.detailMessage.img?this.Global.imgUrl+this.detailMessage.img:this.Global.imgMr;
                    } else if(this.type == 4 && this.detailMessage.video_path!= null){
                        this.videoUrl = this.detailMessage.video_path;
                    } else if(this.type == 3 && this.detailMessage.photos.length>0){
                        this.imgUrl = this.detailMessage.photos.length?this.Global.imgUrl+this.detailMessage.photos[0]:this.Global.imgMr;
                        for(let i=1;i<this.detailMessage.photos.length;i++){
                            let photoUrl =this.Global.imgUrl+this.detailMessage.photos[i];
                            this.photos.push(photoUrl);
                        }
                    }
                })
           } else if(this.dataType == 'case'){
               this.http.get("api/v2/Cases?id="+this.id).then(res=>{
                    console.log(res.data.data,111111111111111111)
                    this.detailMessage = res.data.data;
                    if(this.detailMessage.img&&this.detailMessage.img.length>0){
                        this.imgUrl = this.detailMessage.img.length?this.Global.imgUrl+this.detailMessage.img[0]:this.Global.imgMr;
                        this.type = 2;
                        if(this.detailMessage.img.length>1){
                            this.type = 3;
                            for(let i=1;i<this.detailMessage.img.length;i++){
                                let photoUrl =this.Global.imgUrl+this.detailMessage.img[i];
                                this.photos.push(photoUrl);
                            }
                        }
                       
                    }
                })
           }
       }
    
    }
}
</script>
<style>
    .detail-title{
        font-size:24px;
        font-family:MicrosoftYaHeiUI;
        color:#333;
        text-align:center;
        margin: 60px 0 30px 0;
    }
    .detail-time{
        font-size:20px;
        color:#666;
        text-align:center;
        height:40px;
        border-bottom: 1px dashed #1462AC;
    }
    .detail-img{
        display:block;
        margin-left:50%;
        margin-bottom:80px;
        width:900px;
        height:510px;
        transform: translate(-50%, 20px);
        -ms-transform: translate(-50%,20px);
        -webkit-transform: translate(-50%,20px);
        -o-transform: translate(-50%,20px);
        -moz-transform: translate(-50%,20px);
    }
    .lunbo{
        margin: 20px 0 50px 0
    }
    .detail-video{
        height:500px;
        margin-left:50%;
        transform: translate(-50%, 20px);
        -ms-transform: translate(-50%,20px);
        -webkit-transform: translate(-50%,20px);
        -o-transform: translate(-50%,20px);
        -moz-transform: translate(-50%,20px);
        margin-bottom:60px;
    }
    .detail-content{
        width:100%;
        font-size:20px;
        color:#333;
        letter-spacing:1px;
        line-height:30px;
        margin-bottom:20px
    }
    .detail-content img{
        height:300px;
        display:block;
        margin-left:50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
</style>