<template>
    <div class="container">
       <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message :visible="childNav[0]"></head-message>
       <div class="cul-nav">
            <line-res  :visible="videoPic"></line-res>
            <div class="cul-nav-left">
                <div class="list-group mb-5">
                    <router-link  class="nav-link"  :to="{name:'culturForumLink',params:{'id':296,'dataType':'article'}}"  exact>
                         <span class="cur-click">文化讲堂</span>
                    </router-link>
                    <router-link  class="nav-link"  :to="{name:'culturOperaLink',params:{'id':297,'dataType':'article'}}"  exact>
                        <span class="cur-click">文化分队</span>
                    </router-link>
                    <router-link  class="nav-link"  :to="{name:'culturExhibitionLink',params:{'id':299,'dataType':'article'}}"  exact>
                        <span class="cur-click ">文化活动</span>
                    </router-link>
                    <router-link  class="nav-link"  :to="{name:'culturDanceLink',params:{'id':298,'dataType':'article'}}"  exact>
                         <span class="cur-click ">文化故事</span>
                    </router-link>
                  
                </div>
            </div>
            <div class="cul-nav-right">
                <video-message :visible="childNav[1]"></video-message>
            </div>
       </div>
       <div class="cul-vid">
            <div> 
                <line-res  :visible="childNav[7]" ></line-res>
                <order-edu :visible="childNav[7]"></order-edu>  
            </div>
            <div>
                <line-res :visible="childNav[5]" ></line-res>
                <excellent-sort  :visible="childNav[5]"></excellent-sort>
            </div>
       </div>
       <div class="cul-fotter">
            <line-res  :visible="childNav[6]"></line-res>
            <dynamic-list :visible="childNav[6]"></dynamic-list>
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import excellentSort from './viewCom/excellentSort';
    import orderEdu from './viewCom/orderEdu';
    import dynamicList from './viewCom/dynamicList';
    import adverImg from './viewCom/adverImg';

    export default{
        name: 'cultural',
        components:{lineRes,headMessage,videoMessage,dynamicList, excellentSort,orderEdu,adverImg},
        data(){
           return{
               navId:'',
               childNav:[],
                videoPic:{name :'视频资讯'},
               imgUrl:this.Global.imgBack,
               advertisementId:22003
           } 
        },
        created(){
            this.navId = this.$route.params.id;
            this.getMessage();
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                    //console.log(res.data.data,666666666666)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'culturPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    }  }) 
            }
        }
    }
</script>
<style>
    .cul-vid,.cul-nav {
        overflow:hidden;

    }
    .cul-nav-left{
        width:32%;
        float:left;
        height:320px;
    }
     .cul-nav-left .cur-click{
            color:#142adc;
          background-image:url('../assets/listBlue.png');
          width:250px;
          display:block;
          padding-left:20px;
          line-height:60px;
          height:60px;
          background-size:250px 60px;
     }
    .cul-nav-right{
        float:right;
        width:66%;
    }
    .cul-fotter{
          overflow:hidden;
          margin-bottom:100px;
    }
    .cul-vid>div:last-child{
        float:right;
        width:29%;
    }
    .cul-vid>div:first-child{
        width:69%;
        float:left
    }
   
</style>