<template>
    <div class="container">
        <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message :visible="childNav[0]"></head-message>
       <div class="edu-vid">
            <div>
                <line-res :visible="childNav[1]"></line-res>
                <video-message  :visible="childNav[1]"></video-message>   
            </div>
            <div>
                <line-res :visible="childNav[2]"></line-res>
                <graph-infor :visible="childNav[2]"></graph-infor>
               <!-- <excellent-sort :visible="childNav[2]"></excellent-sort>-->
            </div>
       </div>
       <div class="edu-vid">
            <div> 
                <line-res :visible="childNav[7]"></line-res>
                <order-edu  :visible="childNav[7]"></order-edu>   
            </div>
            <div>
                <line-res :visible="childNav[3]"></line-res>
                <graph-infor :visible="childNav[3]"></graph-infor>
              <!--  <excellent-sort :visible="childNav[3]"></excellent-sort>-->
            </div>
       </div>
       <div class="edu-cild">
            <line-res :visible="childNav[4]"></line-res>
            <country-review :visible="childNav[4]"></country-review>
       </div>
        <div class="edu-vid">
            <div> 
                <line-res :visible="childNav[6]"></line-res>
                <dynamic-list :visible="childNav[6]"></dynamic-list>   
            </div>
            <div>
                <line-res :visible="childNav[5]"></line-res>
                <exposure-table :visible="childNav[5]"></exposure-table>
            </div>
       </div>
       <div class="edu-fotter">
        <!-- <line-res ></line-res>
            <credit-list></credit-list>-->
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import theoryMessage from './viewCom/theoryMessage'
    import excellentSort from './viewCom/excellentSort';
    import orderEdu from './viewCom/orderEdu';
    import dynamicList from './viewCom/dynamicList';
    import exposureTable from './viewCom/exposureTable';
    import creditList from './viewCom/creditList';
    import countryReview from './viewCom/countryReview'
    import adverImg from './viewCom/adverImg';
    import graphInfor from './viewCom/graphInfor';


    export default{
        name: 'educational',
        components:{lineRes,headMessage,videoMessage,orderEdu,exposureTable,graphInfor,dynamicList,countryReview, excellentSort,creditList,adverImg,theoryMessage},
        data(){
           return{
               navId:'',
               childNav:[],
               imgUrl:this.Global.imgBack,
               advertisementId:22002
           } 
        },
         created(){
            this.navId = this.$route.params.id;
            //console.log(this.navId,121313)
            this.getMessage();
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                   // console.log(res.data.data,1212121)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'educaPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    }  }) 
            }
        }
    }
</script>
<style>
    .edu-vid {
        overflow:hidden;

    }
    .edu-fotter{
          overflow:hidden;
          margin-bottom:100px;
    }
    .edu-cild{
        overflow:hidden;
    }
    .edu-vid>div:last-child{
        float:right;
        width:29%;
    }
    .edu-vid>div:first-child{
        width:69%;
        float:left
    }
   
</style>