<template>
    <div class="container">
        <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message  :visible="childNav[0]"></head-message>
       <div class="fitness-message">
            <div>
                <line-res :visible="childNav[2]"></line-res> 
                <video-message :visible="childNav[2]"></video-message>
            </div>
            <div>
                <line-res :visible="childNav[3]"></line-res> 
                <video-message :visible="childNav[3]"></video-message>
            </div>
       </div>
       <div class="fitness-vid">
            <div>
                <line-res  :visible="childNav[1]"></line-res> 
                 <video-message :visible="childNav[1]"></video-message> 
            </div>
            <div>
                <line-res :visible="childNav[5]"></line-res>
                <theory-message  :visible="childNav[5]"></theory-message>
            </div>
       </div>
       <div class="fitness-fotter">
            <line-res :visible="childNav[4]"></line-res>
            <dynamic-list :visible="childNav[4]"></dynamic-list>
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import orderEdu from './viewCom/orderEdu';
    import graphInfor from './viewCom/graphInfor';
    import dynamicList from './viewCom/dynamicList';
    import placeShare from './viewCom/placeShare';
    import adverImg from './viewCom/adverImg';
    import theoryMessage from './viewCom/theoryMessage'

    export default{
        name: 'fitness',
        components:{lineRes,headMessage,videoMessage ,dynamicList,orderEdu,graphInfor,placeShare,adverImg,theoryMessage},
        data(){
           return{
               navId:'',
               childNav:[],
               photos:[],
               imgUrl:this.Global.imgBack,
               advertisementId:22005
           } 
        },
        created(){
            this.navId = this.$route.params.id;
            this.getMessage(); 
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                   // console.log(res.data.data,12212123)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'fitPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    }  }) 
            }
        }
    }
</script>
<style>
     .fitness-message {
        overflow:hidden;

    }
    .fitness-message>div{
        width:49%;
        float:left;
    }
    .fitness-message>div:last-child{
        float:right
    }
    .fitness-vid{
        overflow:hidden;
    }
    .fitness-vid>div:first-child{
        width:69%;
        float:left
    }
    .fitness-vid>div:last-child{
        width:29%;
         float:right
    }
    .fitness-fotter{
          overflow:hidden;
          margin-bottom:100px;
    }
   
</style>