<template>
    <header>
        <nav class="navbar navbar-expand-lg container nv-log">
            <ul class="navbar-nav">
                <li><img src="../assets/logo.jpg" style="width:80px;height:80px;margin-right:20px;" ></li>     
                <li><span class="header-main">丹阳市新时代文明实践中心</span></li>   
            </ul>        
            <ul class="navbar-nav ml-auto user-login">
                <!--<li><span class="login-tip"  v-show="!isLogin">切换地址</span></li>   
                <li><i >|</i><li>  
                <li><span class="login-tip" data-toggle="modal" @click="userLogin('0')"  v-show="!isLogin">注册</span></li>
                <li><i >|</i><li>   -->
                <li v-show="!isLogin"><span class="login-tip" data-toggle="modal" @click="userLogin('1')"  >登录</span></li>
                <li class="nav-link" v-show="isLogin">{{currentUser}}</li>
                 <li v-show="isLogin"><img :src="this.header" class="user-header" ></li>
                <li><span v-show="isLogin" class="userOut" @click="userOut()">[退出]</span></li>        
                <li v-show="!isLogin"><img src="../assets/tx.png"@click="userLogin('1')"  style="cursor:pointer" ></li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-lg nav-bg ">
            <ul class="navbar-nav container navbar-dan">
                <li><router-link  :to="{name:'homeLink'}"class="nav-link" active-class="active" exact>首页</router-link></li>   
                <li><router-link  :to="{name:navList[0].link,params:{'id':navList[0].id}}"  class="nav-link" :class="{'active': router1}" exact>{{navList[0].name}}</router-link></li>     
                <li><router-link  :to="{name:navList[1].link,params:{'id':navList[1].id}}"  class="nav-link" :class="{'active': router2}" exact>{{navList[1].name}}</router-link></li>   
                <li><router-link  :to="{name:navList[2].link,params:{'id':navList[2].id}}"  class="nav-link" :class="{'active': router3}" exact>{{navList[2].name}}</router-link></li>
                <li><router-link  :to="{name:navList[3].link,params:{'id':navList[3].id}}"  class="nav-link" :class="{'active': router4}" exact>{{navList[3].name}}</router-link></li>     
                <li><router-link  :to="{name:navList[4].link,params:{'id':navList[4].id}}"  class="nav-link" :class="{'active': router5}" exact>{{navList[4].name}}</router-link></li>   
                <li><router-link  :to="{name:navList[5].link,params:{'id':navList[5].id}}"  class="nav-link" :class="{'active': router6}" exact>{{navList[5].name}}</router-link></li>    
            </ul>    
        </nav>
        <login-tip :visible="userMessage" ref='loginTip'></login-tip>
    </header>
</template>
<script>
    import LoginTip from'./assembly/login';
    import md5 from 'md5';
    export default{
        components:{ LoginTip },
        data(){
            return {
                navList:[],
                routerList1:['preachingLink','broadcastingLink','themeDayLink','preachActiveLink','preachDetailLink','preachPageLink','preachPointLink','preachInforLink','preachBiographyLink','preachKnowledgeLink','preachNoticeLink'],
                routerList2:['educationalLink' ,'educaGrowthLink','educaHarmoniousLink','educaRevitalizationLink','educaActiveLink','educahDetailLink','educaPageLink','educaInforLink','educaModelrLink','educaGoodLink','educaFamilyLink','educaExposureLink','educaNoticeLink','educaPointLink'],
                routerList3:['culturalLink','culturActiveLink','culturDetaillLink','culturPageLink','culturInforLink','culturForumLink','culturOperaLink','culturExhibitionLink','culturDanceLink','culturBankLink','culturNoticeLink','culturPointLink'],
                routerList4:['scienceLink','scienActiveLink','scienDetaillLink','scienPageLink','scienInforLink','scienForumLink','scienBreedLink','scienReviewLink','scienNoticeLink','scienPointLink'],
                routerList5:['fitnessLink','fitActiveLink','fitDetaillLink','fitPageLink','fitInforLink','fitBasektLink','fitTownLink','fitNationalLink','fitShareLink','fitNoticeLink','fitPointLink'],
                routerList6:['volunteeringLink','voluntActiveLink','voluntOrderLink','voluntDetaillLink','voluntPageLink','voluntInforLink','voluntTrainLink','voluntElegantLink','voluntTeamLink','voluntNoticeLink','voluntGlimpseLink'],
                //routeName:this.$route.name,
                userMessage:{
                    type:'1',
                    scankey:''
                }
            }         
        },
        created(){    
             this.http.get("api/v2/nav?tpe=1").then(res=>{
                    let list =res.data.data;
                    for(let key in list){
                        //console.log(list[key])
                        let message ={
                            link:list[key].link,
                            id:list[key].id,
                            name:list[key].name
                           
                        }
                        this.navList.push(message)
                    }            
                   // console.log(this.navList)
                    //this.$store.commit("setNavList",this.navList)
                })
        },     
        computed:{
            routeName(){
               // console.log(this.$route.name)
                return this.$route.name
            },
            header(){
                if(sessionStorage.getItem("user_header")){
                    this.$store.dispatch("setUserHeader",sessionStorage.getItem("user_header"))
                }
                return this.$store.getters.header
            },
            // token(){
            //     if(sessionStorage.getItem("user_token")){
            //         this.$store.dispatch("setUserToken",sessionStorage.getItem("user_token"))
            //     }
            // },
            currentUser(){
                if(sessionStorage.getItem("user_name")){
                    this.$store.dispatch("setUserName",sessionStorage.getItem("user_name"))
                }
                return this.$store.getters.currentUser
            },
            isLogin(){
                if(sessionStorage.getItem("user_name")&&sessionStorage.getItem("user_header")){
                    this.$store.dispatch("setUserName",sessionStorage.getItem("user_name"))
                    this.$store.dispatch("setUserHeader",sessionStorage.getItem("user_header"))
                }else{
                     this.$store.dispatch("setUserName",null)
                    this.$store.dispatch("setUserHeader",null)
                }
                return this.$store.getters.isLogin
            },
            router1() {
                return  this.routerList1.some(item => item == this.routeName);
            },
            router2() {
                return  this.routerList2.some(item => item == this.routeName);
            },
            router3() {
                return  this.routerList3.some(item => item == this.routeName);
            },
            router4() {
                return  this.routerList4.some(item => item == this.routeName);
            },
            router5() {
                return  this.routerList5.some(item => item == this.routeName);
            },
            router6() {
                return  this.routerList6.some(item => item == this.routeName);
            }
        },
        methods:{
            userLogin(type){
                $('#myModal').modal({
                    show: true
                });
                this.userMessage.type=type;
                this.userMessage.scankey = md5(navigator.userAgent+Math.random());
                this.$refs.loginTip.catchMet();

            },
            userOut(){
                this.$store.dispatch("setUserName",null)
                this.$store.dispatch("setUserHeader",null)
                sessionStorage.removeItem('user_name')
                sessionStorage.removeItem('user_header')
                sessionStorage.removeItem('user_token')
                sessionStorage.removeItem('user_login')
            }
        }
    }
</script>
<style>
    .header-main{
        font-family:STXinwei;
        font-size:48px;
        color:#bca110;
    }
    .user-header{
        border-radius:50%;
        height:40px;
        width:40px;
    }
    a{
        text-decoration:none;
        color:white;
        font-size:23px;
        font-family:MicrosofYaHeiUI;
    } 
    .userOut{
        cursor:pointer;
        margin-left:10px;
        line-height:40px;
    }
    .nv-log{
        height:120px;
    }
    .nav-bg{
        background-color:#1462AC;
        height:70px;
        margin-bottom:10px;
    }
    .login-tip{
        font-size:24px;
        color:#1462ac;
        cursor:pointer;
        line-height:60px;
        margin: 0 10px 0 10px;
    }
    .user-login li i{
        line-height:60px; 
        font-size:21px;
        color:#1462ac;
        font-style:normal
    }
    .navbar-dan{
        width:100%;
        height:70px;
        
    }
    .navbar-dan>li{
        width:14.2%;
        text-align:center;
        display:block;
        height:70px;
        line-height:59px;
    }
    .navbar-dan a:hover{
        color:#cccccc;
    }
    .nav-bg .active{
        height:70px;
        background-color:white;
        color:#1462AC;
    }
</style>