<template>
    <div class="home-link">
       <!-- <div class="home-content">
            <div class="home-div1" @click="goTo('preachingLink',4)" style="left:0;top:0;cursor:pointer;background-image: url(../../dist/1.png); background-size:100%">
                <div class="clr"></div>
            </div>
            <div class="home-div2" @click="goTo('educationalLink',11)" style="left:380px;top:0;cursor:pointer;background-image: url(../../dist/2.png);background-size:100%">
                <div class="clr"></div>
            </div>
            <div class="home-div3"@click="goTo('culturalLink',18)" style="left:760px;top:0;cursor:pointer;background-image: url(../../dist/3.png);background-size:100%">
                <div class="clr"></div>
            </div> 
            <div class="home-div4" @click="goTo('scienceLink',26)" style="left:0;top:280px;cursor:pointer;background-image: url(../../dist/4.png);background-size:100%">
                <div class="clr"></div>
            </div>
            <div class="home-div5"@click="goTo('fitnessLink',33)" style="left:380px;top:280px;cursor:pointer;background-image: url(../../dist/5.png);background-size:100%">
                <div class="clr"></div>
            </div>
            <div class="home-div6"@click="goTo('volunteeringLink',40)" style="left:760px;top:280px;cursor:pointer;background-image: url(../../dist/6.png);background-size:100%">
                <div class="clr"></div>
            </div> 
        </div>   -->
         <div class="swiper-container">
            <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(../../dist/home5.png)" @click="goTo('fitnessLink',33)"></div>
                    <div class="swiper-slide" style="background-image:url(../../dist/home1.png)" @click="goTo('volunteeringLink',40)"></div>    
                    <div class="swiper-slide" style="background-image:url(../../dist/home3.png)" @click="goTo('preachingLink',4)"></div>
                    <div class="swiper-slide" style="background-image:url(../../dist/home2.png)" @click="goTo('educationalLink',11)" ></div>
                    <div class="swiper-slide" style="background-image:url(../../dist/home6.png)" @click="goTo('culturalLink',18)"></div>
                    <div class="swiper-slide" style="background-image:url(../../dist/home4.png)" @click="goTo('scienceLink',26)"></div>             
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>  
</template>
<script>
   
    export default{
        data(){
            return{
                imgList:[],
            }
        },
        created(){
            $('#app').css({'background-image':'url(../../dist/bg.png) ',
                            'min-height':'800px'
            });
        },
        mounted(){
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                //centeredSlides: true,
                loop: true,
                slidesPerView: 'auto',
                autoplay:{
                    delay: 2500,
                    disableOnInteraction: false,
                },
                coverflowEffect: {
                    rotate: 30,
                    stretch: -50,
                    depth: 150,
                    modifier: 1,
                    slideShadows : true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        },
        destroyed(){
            $('#app').css({'background-image':'',
                            'background-size':'',
                            'min-height':''
            });
        },
        methods:{
                goTo(linkName,id){
                    this.$router.push({name:linkName,params:{'id':id}})
                }
        }
    }
</script>
<style>
    .swiper-container {
      width: 100%;
      padding-top: 80px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 400px;
      cursor:pointer;

    }

.home-content>div{
    width: 330px;
    padding: 10px 0 0 30px;
    height: 210px;
    background: #c1f0f9;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 3px 10px 0 #dedac1;
    transition: 0.7s;
    background-repeat: no-repeat;
    background-position: right bottom;
    
}
.home-content{
    width:100%;
    top:40px;
    position:relative;
}
.home-content>div:hover{
    width: 340px;
    box-shadow: 0 10px 25px 10px #c7c3aa;
}
.home-div1:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-div2:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-div3:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-div4:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-div5:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-div6:hover .clr {
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s;
}
.home-content .clr{
    width: 66px;
    height: 66px;
    position: absolute;
    background: url(../../dist/7.png) no-repeat center;
    right: 100px;
    top: 20px;
    transition: 1s;
    opacity: 0;
}

</style>