<template>
    <div class="container">
       <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message :visible="childNav[0]"></head-message>
       <div class="pre-message">
            <div>
                <line-res :visible="childNav[1]"></line-res> 
                <video-message :visible="childNav[1]"></video-message>
            </div>
            <div>
                <line-res :visible="childNav[2]"></line-res> 
                <video-message :visible="childNav[2]"></video-message>
            </div>
       </div>
        <div class="pre-message">
            <div>
                <line-res :visible="childNav[3]"></line-res> 
                <video-message :visible="childNav[3]"></video-message>
            </div>
            <div>
                <line-res :visible="childNav[4]"></line-res> 
                <video-message :visible="childNav[4]"></video-message>
            </div>
       </div>
        <div class="pre-footer">
            <div>
                <line-res :visible="childNav[6]"></line-res> 
                <dynamic-list :visible="childNav[6]"></dynamic-list>
            </div>
            <div>
                <line-res :visible="childNav[5]"></line-res> 
                <theory-message :visible="childNav[5]"></theory-message>
            </div>
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import dynamicList from './viewCom/dynamicList'
    import theoryMessage from './viewCom/theoryMessage'
    import adverImg from './viewCom/adverImg'

    export default{
        name: 'preaching',
        components:{lineRes,headMessage,videoMessage,dynamicList,theoryMessage,adverImg},
        data(){
           return{
               navId:'',
               childNav:[],
               imgUrl:this.Global.imgBack,
               advertisementId:22001
           } 
        },
        created(){
            this.navId = this.$route.params.id;
            //console.log(this.navId,121313)
            this.getMessage();
            
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                   // console.log(res.data.data,1212313321)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'preachPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    }  }) 
            }
        }
    }
</script>
<style>
    .pre-message {
        overflow:hidden;

    }
    .pre-footer{
          overflow:hidden;
          margin-bottom:100px;
    }
    .pre-message>div{
        width:49%;
        float:left;
    }
    .pre-message>div:last-child{
        float:right
    }
    .pre-footer>div:first-child{
        width:69%;
        float:left
    }
    .pre-footer>div:last-child{
        width:29%;
         float:right
    }
   
</style>