<template>
    <div class="container">
        <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message :visible="childNav[0]"></head-message>
       <div class="sci-message">
            <div>
                <line-res :visible="childNav[1]"></line-res> 
                <video-message :visible="childNav[1]"></video-message>
            </div>
            <div>
                <line-res :visible="childNav[2]"></line-res> 
                <video-message :visible="childNav[2]"></video-message>
            </div>
       </div>
       <div class="sci-vid">
            <div>
                <line-res :visible="childNav[4]"></line-res> 
                <dynamic-list :visible="childNav[4]"></dynamic-list>
            </div>
            <div>
                <line-res :visible="childNav[5]"></line-res> 
                <theory-message :visible="childNav[5]"></theory-message>
            </div>
       </div>
       <div class="sci-fotter">
            <line-res :visible="childNav[3]" ></line-res>
            <country-review :visible="childNav[3]"></country-review>
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import theoryMessage from './viewCom/theoryMessage';
    import dynamicList from './viewCom/dynamicList';
    import countryReview from './viewCom/countryReview'
    import adverImg from './viewCom/adverImg';

    export default{
        name: 'science',
        components:{lineRes,headMessage,videoMessage ,dynamicList,theoryMessage,countryReview,adverImg},
        data(){
           return{
               navId:'',
               childNav:[],
               imgUrl:this.Global.imgBack,
               advertisementId:22004
           } 
        },
         created(){
            this.navId = this.$route.params.id;
            this.getMessage();
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                    //console.log(res.data.data,12123131313)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'scienPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    } 
                }) 
                    
            }
        }
    }
</script>
<style>
     .sci-message {
        overflow:hidden;

    }
    .sci-message>div{
        width:49%;
        float:left;
    }
    .sci-message>div:last-child{
        float:right
    }
    .sci-vid{
        overflow:hidden;
    }
    .sci-vid>div:first-child{
        width:69%;
        float:left
    }
    .sci-vid>div:last-child{
        width:29%;
         float:right
    }
    .sci-fotter{
          overflow:hidden;
          margin-bottom:100px;
    }
   
</style>