<template>
    <div class="container">
        <adver-img :adverId="advertisementId"></adver-img>
       <line-res :visible="childNav[0]"></line-res>     
       <head-message :visible="childNav[0]"></head-message>
       <div class="volunt-message">
            <div>
                <line-res :visible="childNav[2]"></line-res> 
                <video-message :visible="childNav[2]"></video-message>
            </div>
            <div>
                <line-res :visible="childNav[1]"></line-res> 
                <theory-message :visible="childNav[1]"></theory-message>
            </div>
       </div>
       <div class="volunt-vid">
            <div>
                 <line-res  :visible="childNav[3]"></line-res> 
                <video-Message :visible="childNav[3]"></video-Message>
            </div>
            <div>
                <line-res  :visible="childNav[4]"></line-res> 
                <video-Message :visible="childNav[4]"></video-Message>
            </div>
       </div>
        <div class="volunt-fotter">
            <div>
                <line-res  :visible="childNav[5]"></line-res> 
                <dynamic-list  :visible="childNav[5]"></dynamic-list>
            </div>
       </div>
       <div class="volunt-fotter">
            <!--<line-res></line-res> 
            <public-welfare></public-welfare>-->
       </div>
    </div>   
</template>
<script>
    import lineRes from'./viewCom/line';
    import headMessage from './viewCom/headMessage';
    import videoMessage from './viewCom/videoMessage';
    import dynamicList from './viewCom/dynamicList'
    import orderEdu from './viewCom/orderEdu'
    import graphInfor from './viewCom/graphInfor'
    import publicWelfare from './viewCom/publicWelfare'
    import adverImg from './viewCom/adverImg';
    import theoryMessage from './viewCom/theoryMessage'

    export default{
        name: 'voluteering',
        components:{lineRes,headMessage,dynamicList,graphInfor,videoMessage,orderEdu,publicWelfare,adverImg,theoryMessage},
        data(){
           return{
               navId:'',
               childNav:[],
               imgUrl:'',
               advertisementId:23001
           } 
        },
        created(){
            this.navId = this.$route.params.id;
            this.getMessage(); 
        },
        methods:{
            getMessage(){
                this.http.get("api/v2/nav/childnav?id="+this.navId).then(res=>{
                    console.log(res.data.data,121231)
                    let list =res.data.data;
                    for(let key in list){
                       // console.log(list[key])
                        let message ={
                            link:'voluntPageLink',
                            name:list[key].name,
                            navId:this.navId,
                            childId:list[key].data_id,
                            dataType:list[key].data_tpe,
                            childLink:list[key].link     
                        }
                        this.childNav.push(message)
                    }  }) 
            }
        }
    }
</script>
<style>
    .volunt-message{
          overflow:hidden;
    }
    .volunt-message>div:first-child{
        width:69%;
        float:left
    }
    .volunt-message>div:last-child{
        width:29%;
         float:right
    }
    .volunt-vid>div:last-child{
        float:right;
        width:49%;
    }
     .volunt-vid>div:first-child{
        width:49%;
        float:left
    }
    .volunt-vid{
        overflow:hidden;
    }
    .volunt-fotter{
        overflow:hidden;
        margin-bottom:100px;
    }
   
</style>