<template>
 <div class="modal fade" id="enroll">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="form-group row login-clo">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>  
        <form class="login-model">   
            <h5 >报名信息</h5>
            <div class="form-group row">
                <input type="text" class="form-control" v-model.trim="userMessage.phone" placeholder="请输入手机号">
            </div>
            <div class="form-group row">
                <input type="text" class="form-control" v-model.trim="userMessage.name"  placeholder="请输入用户名">
            </div>
            <div class="form-group row login-btn">
                <button type="button"  @click="loginBtn" class="btn btn-block btn-success">报名</button>
            </div> 
        </form>
      </div>
    </div>
  </div>
</template>
<script>

export default {
    props: {
        visible: {
            default() {
                return{
                    id:'',
                    token:''
                }
            }
        }
    },
    data(){
        return{
            userMessage:{
                phone:'',
                name:''      
            },
            stutus:false
        }
    },
    methods:{
        loginBtn(){
            console.log(this.visible.id,this.visible.token)
            if(this.userMessage.phone!='' && this.userMessage.name != ''){
                //this.stutus = true;
                this.http('api/v2/activity/join',{
                    　params:
                        {   
                            'id': this.visible.id,
                            'name':this.userMessage.name ,
                            'mobile':this.userMessage.phone,
                            'access_token':this.visible.token
                        }
                }).then(res=>{
                    this.errMessage = res.data.code==0?'报名成功':res.data.message
                    $('#enroll').modal('hide');
                    console.log(this.errMessage,555)
                    this.$emit('showCityName',this.errMessage)
                    this.userMessage.phone='';
                    this.userMessage.name = ''
                })
                
                 
                
                
            }
        }
    }

  
}
</script>
<style>
.login-model{
    width:60%;
    margin: 30px 0 50px 20%;
}
.login-model input{
    width:100%;
}
.login-clo{
    display:block;
    margin-right:7px
}
.login-model h5{
    text-align:center;
    margin-bottom:20px;
    color:#666;
}
.login-model .error-message{
    font-size:14px;
    color:red;
}

.login-btn button,.login-btn button:hover{
    font-size:bold;
    background-color:#1462AC;
}

.login-other>div span{
    cursor:pointer;
    color:#1462AC;
}
 .login-model .btn-success:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #1462AC;
        border-color:none;
    }
</style>