<template>
 <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="form-group row login-clo">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>  
        <form class="login-model">   
            <h5 >请打开微信扫描二维码登录</h5>
            <img :src="this.Global.loginImage+this.visible.scankey" style="margin-left:-10px;">
            <!--<div class="form-group row">
                <input type="text" class="form-control" placeholder="请输入手机号">
            </div>
            <div class="form-group row">
                <input type="text" class="form-control" placeholder="请输入密码">
            </div>
            <div class="form-group row login-btn">
                <button type="button"  @click="loginBtn" class="btn btn-block btn-success">{{visible.type == '1'?'登录':'注册'}}</button>
            </div> 
            <div class="form-group row login-other" v-if="visible.type == '1'">
                <div><span @click="changeState">点击注册 > ></span></div>
            </div> -->
            <p>{{this.state == 902?'请扫描':this.state == 902?'已扫描':'登录成功'}}</p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    props: {
        visible: {
            default() {
                return{
                    type:'',
                    scankey:''
                }
            }
        }
    },
    data(){
        return{
            state:902
        }
    },
    watch:{

    },
    methods:{
        changeState(){
            console.log(this.loginImg,this.visible.scankey)
        },
        loginBtn(){
            if(this.visible.type == '1'){
                //用户登录
            }else{
                //用户注册
            }
        },
        catchMet(){
            console.log(this.visible.scankey);     
            this.loginSet = setInterval(this.serT,1500);

        },
        serT(){
           //console.log(this.visible.scankey)
           this.http.get('home/auth/getQrcodeLoginToken?scankey='+this.visible.scankey).then(res=>{            
                this.state = res.data.code  
                console.log(this.state);
                if(this.state == 0){
                    let token = res.data.data.access_token
                    this.http.get('api/v2/user/userinfo?access_token='+token).then(res=>{
                        console.log(res.data,666666)
                        let user={};
                        user.name = res.data.data.nick_name;
                        user.header = res.data.data.head_img;
                        user.token = token;
                        this.$store.dispatch("setUserName",user.name)
                        this.$store.dispatch("setUserHeader",user.header)
                        this.$store.dispatch("setUserToken",user.token)
                        sessionStorage.setItem("user_name",user.name);
                        sessionStorage.setItem("user_header", user.header);
                        sessionStorage.setItem("user_token", user.token);
                         sessionStorage.setItem("user_login",true);
                        $('#myModal').modal('hide');
                    })
                    clearInterval(this.loginSet);
                }      
            })
        }

    }

  
}
</script>
<style>
.login-model{
    width:60%;
    margin: 30px 0 50px 20%;
}
.login-model input{
    width:100%;
}
.login-clo{
    display:block;
    margin-right:7px
}
.login-model h5{
    text-align:center;
    margin-bottom:20px;
    color:#66;
}
.login-btn button,.login-btn button:hover{
    font-size:bold;
    background-color:#1462AC;
}

.login-other>div span{
    cursor:pointer;
    color:#1462AC;
}
</style>