<template>
  <div id="app">
    <div>
      <app-header></app-header>
    </div>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from './components/Header'

export default {
  components:{ appHeader:Header}
}
</script>

<style>
  #app {
      min-width:1280px;
      height: 100%;
  }
</style>
